{{!-- main.hbs --}}
<div class="container mt-5">
    {{!-- Form & Products --}}
    <div class="jumbotron shadow p-3 mb-5 bg-products rounded  col-8">
        {{>formulario}}
        <br>
        <div id="productsContainer"></div>
    </div>
    {{!-- chat --}}
    <div class="jumbotron shadow p-3 mb-5 bg-products rounded col-8 ">
        <h2 class="p-3" style="color:#3677f0;">Centro de Mensajes</h2>
        <form id="chatForm" class="form-inline" method="post" autocomplete="off" >
            <div class="col-8">
                <input type="text" id="username" class="form-control my-2 mr-2" placeholder="ejemplo@gmail.com" required>
                <span id="emailOK" style="color:#d40000;"></span>
            </div>
            <hr>
            <div id="messages"></div>
            <br>
            <div class="d-flex col-8">        
                <input type="text" id="text" class="form-control my-2 mr-2"  placeholder="Escribe un mensaje..." required>
                <button class="btn btn-primary my-2 mx-2" type="submit" value="two">Enviar</button>
            </div>
        </form>
        
    </div>
</div>